body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/*  Navigation*/
.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text {
  color: #2e2f42;
}
.navigation-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}
.contacts a {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.contacts a:hover {
  color: #404bbf;
}
.solutions {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  background-color: #2e2f42;
}
/* Button */
.custom-button {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.custom-button:hover,
.custom-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* Description of goals */
.list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.list-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* Team information */
.information-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.information-specialist {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.information-profession {
  font-size: 16px;
  line-height: 24px;
}

/* Our Portfolio */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
}

.list-services {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.list-services-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

/* footer */
footer {
  background-color: #2e2f42;
}

.information-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.information-logo-text {
  color: #f4f4fd;
}
.marketing-message {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
